/*Mini Laptop view*/
@media (min-width:1200px) and (max-width:1299px){
  .main-col .container {
      padding-left: 15px;
      padding-right: 15px;
  }
  .footer-top {
      margin-top: -140px;
  }
}

@media (max-width:1199px){
  .navbar h2{
      display:none;
  }
  body {
      padding-top: 88px;
  }
  .main-col {
      width: 100%;
  }
  .main-col .container {
      padding-left: 15px;
      padding-right: 15px;
  }
  .wrapper {
      display: block;
  }
  .header-info{
      display:none !important;
  }
  .nav-sidebar {
      position: fixed !important;
      right: 0;
      left: auto;
      top: 0;
      bottom: 0;
      width: 300px;
      z-index: 993;
      transition:all 0.4s;
      transform:translatex(100%);
  }
  .header-info-show .nav-sidebar {
      transform:translatex(0);
  }
  header .navbar {
      padding: 16px 0;
      transition: all 0.5s;
  }
  .sticky header .navbar {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  header {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      background: #FBF9F9;
      z-index: 9;
      transition: all 0.5s;
  }
  .sticky header {
      box-shadow: 0 0 11px 0 rgba(0,0,0,0.1);
  }
  .header-search-field input {
      padding: 0 55px 0 20px;
      height: 42px;;
      font-size: 14px;
  }
  .header-info-toggle {
      width: 40px;
      height: 40px;
  }
  header .logo {
      display: inline-flex;
      align-items: center;
      vertical-align: top;
  }
  header .logo img {
      max-width: 60px;
  }
  header .logo h3 {
      margin: 0 0 0 8px;
      font-size: 16px;
      text-transform: uppercase;
  }
  .header-search {
      margin-right: 30px;
  }
  .footer-top {
      margin-top: -130px;
  }





}




/*Tablet view*/
@media (min-width:768px) and (max-width:991px){
  body{
      font-size:14px;
  }
  .header-search-field input {
      padding: 0 46px 0 15px;
      height: 40px;
      font-size: 13px;
  }
  .header-search-submit {
      width: 40px;
      height: 40px;
  }
  .header-search-field {
      width: 230px;
  }
  .header-search {
      margin-right: 20px;
  }
  .min-cart {
      margin-right: 20px;
  }
  .min-cart-toggle .icon {
      width: 24px;
  }
  .nav-sidebar {
      width: 280px;
  }
  .nav-sidebar .header-info-close {
      margin-bottom: -40px;
  }
  .banner-box .banner-text {
      width: 44%;
      padding: 30px 30px 60px;
      font-size: 13px;
      border-radius:20px;
  }
  .banner-box .banner-text:before {
      border-width: 2px;
      margin: 6px;
      border-radius: 17px;
  }
  .banner-text h5 {
      font-size: 13px;
      letter-spacing: 3px;
      bottom: 24px;
  }
  .banner-text h2 {
      font-size: 25px;
      margin: 0 0 13px;
  }
  .banner-logo {
      width: 70px;
      margin: 0 0 15px;
  }
  html .btn {
      padding: 0 28px;
      line-height: 40px;
      font-size: 13px;
  }
  .main-slider .owl-dots {
      width: 44%;
      bottom: 55px;
  }
  .banner-box .banner-img {
      border-radius: 20px;
      height: 400px;
  }
  .main-slider .item {
      border-radius: 20px;
  }
  .sub-title {
      font-size: 24px;
      margin: 0 0 15px;
      line-height: 140%;
  }
  .testimonial-title h2 {
      font-size: 34px;
  }
  .testimonial-title {
      max-width: 560px;
      font-size: 16px;
  }
  .testimonial-box {
      padding-top: 48px;
  }
  .footer-logo a {
      max-width: 190px;
  }
  .footer-text {
      max-width: 50%;
  }
  .footer-top {
      margin-top: -100px;
  }
  .footer-middle h3 {
      font-size: 16px;
  }
  .login-wrap .login-body {
      width: 58%;
      max-width: 58%;
      border-radius: 30px 0 0 30px;
      padding: 30px;
  }
  .login-inner h2 {
      font-size: 34px;
      margin: 0 0 25px;
  }
  .login-inner {
      width: 330px;
  }
  .login-wrap .login-info-cover {
      width: 42%;
      padding: 20px;
      max-width: 42%;
  }
  .filter-search-field-wrap {
      width: 210px;
  }
  .product-list .item {
      width: 25%;
  }
  .product-details {
      padding: 60px 15px;
  }
  .details-gallery-wrap:before {
      left: -40px;
      top: -60px;
      bottom: -60px;
      border-radius: 0 30px 30px 0;
  }
  .details-gallery-carousel .img {
      height: 330px;
  }
  .details-gallery-carousel .owl-stage-outer {
      border-radius: 25px;
  }
  .summery {
      font-size: 14px;
  }
  .cart-box {
      border-radius: 18px;
      padding: 18px;
  }
  .table.cart-main-table tbody tr td {
      padding: 12px;
      font-size: 14px;
  }
  .table.cart-main-table .cart-product-name h3 {
      font-size: 14px;
  }
  .table.cart-main-table .cart-product-name .img {
      min-width: 50px;
      margin-right: 10px;
      width: 50px;
  }
  .table.cart-total-table tbody {
      font-size: 13px;
  }
  .table.cart-total-table tbody tr.total-tr {
      font-size: 16px;
  }
  .cart-total-wrap {
      top: 100px;
  }



}

@media (max-width: 990px) {
  .min-cart-toggle  .cart-budge {
    right: -7px;
  }
}

/*Mobile view*/
@media (max-width:767px){
  body{
      font-size:14px;
      padding-top: 140px;
  }
  p {
      line-height: 140%;
  }
  html scrollbar .scrollbar-thumb,
  html [scrollbar] .scrollbar-thumb,
  html [data-scrollbar] .scrollbar-thumb ,
  html scrollbar .scrollbar-track-y,
  html [scrollbar] .scrollbar-track-y,
  html [data-scrollbar] .scrollbar-track-y{
      width: 5px;
  }
  header .navbar {
      padding: 15px 0;
      display: block;
  }
  .header-left {
      padding-bottom: 15px;
      transition:all 0.5s;
  }
  .sticky .header-left {
      padding-bottom: 0;
  }
  .header-right{
      transition:all 0.5s;
  }
  .sticky .header-right {
      max-height: 0;
      overflow: hidden;
  }
  .header-search {
      margin-right: 5%;
      width: 70%;
  }
  .header-search-field input {
      padding: 0 46px 0 15px;
      height: 40px;
      font-size: 13px;
  }
  .header-search-submit {
      width: 40px;
      height: 40px;
  }
  .header-search-field {
      width: 100%;
  }
  .min-cart {
      margin-right: 0;
  }
  .min-cart-toggle .icon {
      width: 20px;
  }
  section {
      padding-top: 50px;
      padding-bottom: 50px;
  }
  .header-info-toggle {
      width: 40px;
      height: 40px;
      position: absolute;
      right: 0;
      top: 25px;
      transition:all 0.5s;
  }
  .sticky .header-info-toggle {
      top:18px;
  }
  .nav-sidebar {
      width: 250px;
      box-shadow: 0 0 0 transparent;
  }
  .nav-sidebar .header-info-close {
      margin-bottom: -40px;
  }
  .banner-box .banner-text {
      width: 100%;
      padding: 20px 20px 70px;
      font-size: 13px;
      border-radius: 16px;
      position: relative;
      margin-top: -20px;
  }
  .banner-box .banner-text:before {
      border-width: 2px;
      margin:5px;
      border-radius: 14px;
  }
  .banner-text h5 {
      font-size: 12px;
      letter-spacing: 3px;
      bottom: 22px;
  }
  .banner-text h2 {
      font-size: 22px;
      margin: 0 0 6px;
  }
  .banner-text .btn-set {
      margin-top: 0;
  }
  .banner-logo {
      width: 70px;
      margin: 0 0 15px;
      display:none;
  }
  html .btn {
      padding: 0 25px;
      line-height: 36px;
      font-size: 13px;
  }
  .main-slider .owl-dots {
      width: 100%;
      bottom: 46px;
  }
  .banner-box .banner-img {
      border-radius: 0;
      height: 180px;
  }
  .main-slider .item {
      border-radius: 16px;
  }
  .sub-title {
      font-size: 18px;
      margin: 0 0 15px;
      line-height: 140%;
  }
  html .owl-carousel .owl-nav button[class*="owl-"] {
      width: 32px;
      height: 32px;
  }
  .title-nav .owl-nav {
      top: -44px;
  }
  .category-box .icon {
      width: 40px;
      height: 40px;
      margin: 0 auto 12px;
  }
  .category-box h3 {
      font-size: 13px;
  }
  .category-box {
      border-radius: 14px;
      margin-bottom: 18px;
      padding: 12px;
      min-height: 120px;
  }
  .sub-title-wrap .title-btn {
      padding: 3px 10px;
      line-height: 20px;
      font-size: 11px;
  }
  .sub-title-wrap.sub-title-with-nav {
      padding-right: 80px;
  }
  .sub-title-wrap {
      margin: 0 0 15px;
  }


  .testimonial-title h2 {
      font-size: 26px;
  }
  .testimonial-title {
      max-width: 560px;
      font-size: 14px;
  }
  .shape-1,
  .shape-2 {
      max-width: 130px;
  }
  .testimonial-carousel-wrap {
      margin: 0 auto 90px;
      padding: 15px 25px 30px;
      border-radius: 12px;
      position: relative;
  }
  .testimonial-box {
      padding-top: 38px;
      background-size: 110px auto;
  }
  .testimonial-box p {
      font-size: 14px;
  }
  .testi-user {
      margin-top: 15px;
  }
  .testi-user .inner .img {
      width: 48px;
      height: 48px;
  }
  .testi-user h4 {
      font-size: 14px;
      margin: 0 0 2px;
  }
  .testi-user h5 {
      font-size: 14px;
  }
  .testi-user .inner {
      padding-left: 60px;
      min-height: 48px;
  }
  .testimonial-carousel-wrap:before {
      border-radius: 14px;
      margin: 0px 20px -15px;
  }
  .testimonial-carousel-wrap:after {
      border-radius: 14px;
      margin: 0px 40px -30px;
  }
  .testimonial-carousel-wrap .owl-nav {
      bottom: -122px;
  }
  .dot-shape {
      background-size: 26px auto;
      width: 120px;
      height: 250px;
  }
  .footer-middle {
      padding-top: 40px;
      padding-bottom: 40px;
  }

  .footer-logo a {
      max-width: 140px;
  }
  .footer-text {
      max-width:100%;
  }
  .footer-top {
      margin-top: 0px;
  }
  .footer-middle h3 {
      font-size: 16px;
  }
  .footer-middle .col {
      width: 50%;
      max-width: 50%;
      flex-basis: 50%;
      margin-bottom: 30px;
  }
  .footer-middle .col.col-xs-12 {
      width: 100%;
      max-width: 100%;
      flex-basis: 100%;
  }
  .footer-bottom {
      padding: 15px 0;
  }
  .scrollToTop {
      margin: 80px 15px;
  }
  .login-wrap {
      flex-wrap: wrap;
      min-height: 0;
  }
  .login-wrap .login-info-cover {
      width: 100%;
      padding: 20px;
      max-width: 100%;
  }
  .login-wrap .login-body {
      width: auto;
      border-radius: 18px;
      padding: 20px;
      min-height: 100%;
      margin: 10px auto 0;
      margin-bottom: 15px;
      flex-grow: 1;
      max-width: 92%;
  }
  .login-bg {
      width: 100%;
  }
  .login-logo {
      margin-bottom: 15px;
      text-align: center;
  }
  .login-logo a {
      display: block;
      width: 70px;
      margin: 0 auto;
  }
  .login-inner h2 {
      font-size: 26px;
      margin: 0 0 22px;
  }
  .login-inner h2:after {
      width: 38px;
      height: 3px;
      margin: 12px auto 0;
  }
  ul.login-with-social li {
      margin: 0 5px;
  }
  ul.login-with-social li a {
      width: 38px;
      height: 38px;
  }
  ul.login-with-social {
      margin: 0 0 20px;
  }
  .form-field-submit .btn {
      min-width: 110px;
  }
  .form-field-latest label {
      left: 5px;
      font-size: 14px;
      margin: 7px;
      line-height: 28px;
      padding: 0 6px;
  }
  .form-field-latest .form-control {
      height: 42px;
      padding: 0 16px;
      font-size: 15px;
  }
  .form-field-latest.input-has-value label {
      top: -16px;
  }
  .custom-checkbox label span:before {
      top: 0px;
  }
  .custom-checkbox label span:after {
      top: 0px;
  }
  .form-field-submit {
      margin-top: 20px;
  }
  .login-bottom-links ul li {
      margin-right: 40px;
  }
  .login-bottom-links ul li:before {
      width: 9px;
      height: 9px;
      right: -26px;
      top: 6px;
  }
  .login-info h5 {
      margin: 0 0 18px;
      font-size: 14px;
  }
  .login-info h2 {
      font-size: 26px;
  }
  .login-info-inner  .login-offer-carousel {
      padding-top: 45px;
  }
  .filter-search-field-wrap {
      width: 150px;
  }
  .product-list .item {
      width: 100%;
  }
  .main-banner-section.mini-section{
      padding-top:0;
  }
  ul.breadcrumb-list {
      font-size: 13px;
  }
  .product-filter {
      display: block;
  }
  .product-filter-right {
      margin-top: 12px;
      justify-content: space-between;
  }
  .filter-search-field input {
      padding: 0 45px 0 13px;
      height: 38px;
      font-size: 13px;
  }
  .filter-search-submit {
      right: 5px;
      width: 38px;
      height: 38px;
      padding: 10px;
  }
  .filter-short select {
      height: 38px;
      padding: 0 12px;
      font-size: 13px;
      width: 120px;
  }
  .product-filter-right .item + .item {
      margin-left: 8px;
  }
  .product-filter ul.breadcrumb-list {
      justify-content: center;
  }
  .summery {
      font-size: 14px;
      padding-top:30px;
  }
  .product-details {
      padding: 0 15px;
  }
  .details-gallery-carousel .img {
      height: 290px;
  }
  .details-gallery-wrap {
      padding: 40px 0;
  }
  .details-gallery-wrap:before {
      left: -15px;
      top: 0;
      bottom: 0;
      width: 55%;
      border-radius: 0 30px 30px 0;
  }
  .details-gallery-carousel .owl-stage-outer {
      border-radius: 25px;
  }
  .details-gallery-carousel  .owl-nav {
      margin: 10px 0;
      width: 48%;
  }
  .summery .price-offer {
      margin-bottom: 12px;
      text-align: center;
  }
  .price-offer span {
      font-size: 12px;
  }
  .summery  h2 {
      font-size: 22px;
      margin: 0 0 10px;
      text-align: center;
  }
  .price-rating-wrap {
      margin: 0 0 15px;
      justify-content: space-between;
  }
  .summery .price {
      font-size: 18px;
  }
  .summery .variation-point {
      margin: 20px 0 25px;
  }
  .qty-submit-wrap {
      margin-bottom: 20px;
      justify-content: space-between;
  }
  .details-tabs .nav-tabs .nav-item .nav-link {
      padding: 0 15px 10px;
      line-height: 26px;
      font-size: 15px;
  }
  .details-tabs .tab-content {
      padding: 18px;
      border-radius: 14px;
  }
  .cart-box {
      border-radius: 18px;
      padding: 15px;
  }
  .table.cart-main-table tbody tr td {
      padding: 8px;
      font-size: 12px;
  }
  .table.cart-main-table .cart-product-name h3 {
      font-size: 12px;
  }
  .table.cart-main-table .cart-product-name .img {
      min-width: 40px;
      margin-right: 10px;
      width: 40px;
  }
  .table.cart-total-table tbody {
      font-size: 13px;
  }
  .table.cart-total-table tbody tr.total-tr {
      font-size: 15px;
  }
  .cart-total-wrap {
      top: 0;
      margin-top: 18px;
  }
  .cart-box  h2 {
      font-size: 23px;
      margin: 0 0 16px;
  }
  .cart-details:before {
      left: -15px;
      width: auto;
      right: -15px;
      border-radius: 20px;
  }
  .table.cart-main-table thead tr th {
      padding: 5px 10px;
      font-size: 13px;
  }


}




