:root {
  --primary:#69BD44;
  --secondary:#69BD44;
  --dark:#071600;
  --light:#F7F6F2;
}
* {
  outline: 0!important
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow-x: hidden;
  color: var(--dark);
  font-size: 16px;
  font-weight: normal;
  background: #FBF9F9;
}
html a {
  -webkit-transition: all .5s;
  transition: all .5s;
  color: var(--primary);
text-decoration:none;
}
html a:hover {
  color:var(--dark);
text-decoration:none;
}
svg,
img {
  max-width: 100%;
height:auto;
width:auto;
}
html .container {
  max-width: 1270px
}
section{
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  z-index:1;
}
section.mini-section {
  padding-top: 55px;
  padding-bottom: 55px;
}
p {
  line-height:160%;
}
p:last-child{
margin-bottom:0;
}
#wrapper {
  overflow: hidden;
  max-width: 100%;
}
::selection{
color:#fff;
background:var(--primary);
}
input[type="file"]::-webkit-file-upload-button {
cursor:pointer;
}
input[type="file"]::-moz-file-upload-button {
cursor:pointer;
}
input[type="file"]::-ms-file-upload-button {
cursor:pointer;
}
input[type="file"]::-o-file-upload-button {
cursor:pointer;
}
input[type="file"] {
cursor:pointer;
}
b, strong {
  font-weight: 600;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: var(--font2);
  font-weight: 600;
}
html .text-primary{
  color:var(--primary) !important;
}
html .bg-primary{
  background-color:var(--primary) !important;
  overflow: hidden;
}
html .bg-light{
  background-color:var(--light) !important;
}
/* Custom Styles Close*/
/* Loaded Styles */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3000;
  display: flex;
  align-items: center;
  justify-content: center;
}
#loader {
  z-index: 9999;
  max-width: 280px;
}
#loader span{
color: var(--white);
  margin: 26px 0 0 0;
  display: none;
  font-size: 26px;
}
#loader-wrapper .loader-section-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  left: 0;
  display: flex;
}
#loader-wrapper .loader-section {
transform-origin:left center;
  background: var(--secondary);
flex-grow:1;
}
.loaded #loader-wrapper .loader-section-wrap .loader-section {
-webkit-transform:rotateY(90deg);
transform: rotateY(90deg);
-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader {
opacity: 0;
-webkit-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
visibility: hidden;
-webkit-transition: all 0.3s 1s ease-out;
transition: all 0.3s 1s ease-out;
}
#loader span.cube-face img{
margin-top: 30px;
}
#loader span.cube-face {
  display: block;
  margin-top: 120px;
  color: var(--dark);
  font-family: Kodchasan;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 3px;
}
div#loader {
  z-index: 99999;
}
.loader-style-1 {
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 30px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s 0.1s;
  transition: transform 0.5s 0.1s;
  perspective: 9999px;
  color: var(--dark);
  margin: -40px 0 0 -40px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -37px;
  top: 65px;
  opacity: 1;
}
.loader-style-1.panelLoad {
  z-index: 11;
  top: 55%;
  margin-top: -60px;
  -webkit-animation: panel 2.2s infinite forwards;
  animation: panel 2.2s infinite forwards;
}
.loader-style-1.panelLoad .cube-face {
  color:var(--secondary);
  box-shadow: inset 0 0 0 1px var(--secondary), 0 0 1px 1px var(--secondary);
}
.loader-style-1 .cube-face {
  width: inherit;
  height: inherit;
  position: absolute;
  background: white;
  box-shadow: inset 0 0 0 1px var(--secondary), 0 0 1px 1px var(--secondary);
  opacity: 1;
  font-weight: 500;
  font-family: var(--font2);
  border-radius: 16px;
}
.loader-style-1 .cube-face-front {
  transform: translate3d(0, 0, 40px);
  -webkit-transform: translate3d(0, 0, 40px);
  font-size: 30px;
}
.loader-style-1 .cube-face-back {
  -webkit-transform: rotateY(180deg) translate3d(0, 0, 40px);
  transform: rotateY(180deg) translate3d(0, 0, 40px);
}
.loader-style-1 .cube-face-left {
  -webkit-transform: rotateY(-90deg) translate3d(0, 0, 40px);
  transform: rotateY(-90deg) translate3d(0, 0, 40px);
}
.loader-style-1 .cube-face-right {
  -webkit-transform: rotateY(90deg) translate3d(0, 0, 40px);
  transform: rotateY(90deg) translate3d(0, 0, 40px);
}
.loader-style-1 .cube-face-top {
  -webkit-transform: rotateX(90deg) translate3d(0, 0, 40px);
  transform: rotateX(90deg) translate3d(0, 0, 40px);
}
.loader-style-1 .cube-face-bottom {
  -webkit-transform: rotateX(-90deg) translate3d(0, 0, 40px);
  transform: rotateX(-90deg) translate3d(0, 0, 40px);
}
@keyframes panel {
  0% {
      -webkit-transform: rotateY(0deg) rotateZ(0deg);
      transform: rotateY(0deg) rotateZ(0deg);
  }
  20% {
      -webkit-transform: rotateY(90deg) rotateZ(0deg);
      transform: rotateY(90deg) rotateZ(0deg);
  }
  40% {
      -webkit-transform: rotateX(45deg) rotateZ(45deg);
      transform: rotateX(45deg) rotateZ(45deg);
  }
  60% {
      -webkit-transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
      transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
  }
  80% {
      -webkit-transform: rotateX(310deg) rotateZ(230deg);
      transform: rotateX(310deg) rotateZ(230deg);
  }
  100% {
      -webkit-transform: rotateX(360deg) rotateZ(360deg);
      transform: rotateX(360deg) rotateZ(360deg);
  }
}
/* Loaded Styles Close*/
div[class*=kursor] {
  position: fixed;
  pointer-events: none;
  transform: translate(-50%,-50%);
}
div[class*=kursor].kursor--1 {
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid rgba(var(--k-color),1);
  transition: all .2s ease,top .2s ease-out,left .2s ease-out;
}
div[class*=kursor].kursor--1.kursor--down {
  width: 20px;
  height: 20px;
}
div[class*=kursorChild] {
  position: fixed;
  pointer-events: none;
  transform: translate(-50%,-50%);
  display: none;
  overflow: hidden;
}
div[class*=kursor].kursor--1+.kursorChild {
  display: block;
  width: 4px;
  height: 4px;
  background: rgba(var(--k-color),1);
  border-radius: 50%;
  transition: all .2s ease,top .1s ease-out,left .1s ease-out;
}
div[class*=kursorChild].kursorChild:after {
  content: '';
  pointer-events: none;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 1;
  border: 0px solid rgba(var(--k-color),0.5);
  transform: translate(-50%,-50%);
}
html div[class*=kursor] {
  z-index: 99999;
}
html div[class*=kursor].kursor--1 {
  width: 30px;
  height: 30px;
  border-width: 1px;
}
.p_bar {
  position: fixed;
  left: 0;
  top: 0;
  height: 3px;
  background: var(--primary);
  z-index:91;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.nav-sidebar {
  height: 100vh;
  width: 17%;
  background: var(--light);
  box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow: auto;
  top: 0;
  position: sticky !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  z-index: 9;
}
.main-col {
  width: 83%;
}
.main-col .container{
  padding-left:45px;
  padding-right:45px;
}
.sidebar-logo .logo {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.sidebar-logo img {
  max-width: 80px;
}
.sidebar-logo h3 {
  text-transform: uppercase;
  margin: 8px 0 0;
  font-size: 13px;
  color:var(--primary);
}
.sidebar-logo {
  text-align: center;
  margin: 0 0 30px;
}
.nav-sidebar h5 {
  text-transform: uppercase;
  font-size: 12px;
  margin: 0 0 10px;
  color: #C9C9C9;
  padding-left:10px;
}
.nav-sidebar  .nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-sidebar .nav-menu > li + li {
  margin-top: 3px;
}
.nav-sidebar .nav-menu > li  > a {
  display: block;
  color: var(--dark);
  padding:10px 10px 10px 45px;
  position: relative;
  line-height:16px;
  border-radius:6px;
}
.nav-sidebar .nav-menu > li.active > a,
.nav-sidebar .nav-menu > li > a:hover {
  background:rgba(108, 190, 71, 0.12);
}
.nav-sidebar .nav-menu > li > a .icon {
  display: flex;
  position: absolute;
  left: 10px;
  top: 5px;
  width: 26px;
  height: 26px;
  align-items: center;
  justify-content: center;
}
.nav-sidebar .nav-menu > li > a .icon img{
  max-height:100%;
}
.sidebar-bottom-wrap {
  margin-top: 30px;
}
.nav-view-all {
  margin-top: 14px;
  font-size: 14px;
  padding-left: 10px;
}
.nav-menu .nav-budge {
  color: #fff;
  background: var(--primary);
  border-radius: 50px;
  padding: 0 2px;
  min-width: 16px;
  line-height: 16px;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  margin-left: 2px;
}
.nav-btn {
  margin-top: 20px;
}
.nav-btn a {
  display: block;
  background: var(--primary);
  padding: 8px 10px;
  color: #fff;
  text-align: center;
  line-height: 24px;
  border-radius: 5px;
}
.nav-btn a .icon {
  display: inline-block;
  vertical-align: top;
  width: 22px;
  margin-right: 4px;
}
.nav-btn a:hover{
  background: var(--dark);
  color: #fff;
}
html scrollbar .scrollbar-thumb,
html [scrollbar] .scrollbar-thumb,
html [data-scrollbar] .scrollbar-thumb {
  background: var(--primary);
}
.toggle-menu {
  display: none;
}
.header-info-toggle{
  width: 44px;
  height: 44px;
  display: block;
  position: relative;
  border: 0;
  background: transparent;
  cursor: pointer;
}
.header-info-toggle span {
  width:18px;
  height: 2px;
  display: block;
  position: absolute;
  left: 5px;
  top: 0;
  bottom: 0;
  background: var(--dark);
  border-radius: 5px;
  margin: auto;
  transition:all 0.4s;
  transform-origin:left center;
}
.header-info-toggle span:nth-child(1) {
  top: -13px;
  width:22px;
}
.header-info-toggle span:nth-child(3) {
  top: 13px;
  width:26px;
}
.header-info-toggle:hover span {
  width:30px;
}
.header-info {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 350px;
  background: #fff;
  z-index: 993;
  border-left: 1px solid #ddd;
  padding: 35px;
  overflow: auto;
  transition: all 0.5s;
  transform: translatex(100%);
}
.header-info-show .header-info {
  transform: translatex(0);
}
.header-info[data-scrollbar] {
  position: fixed;
}
.header-info-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.1);
  z-index: 992;
  backdrop-filter: blur(7px);
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}
.header-info-show .header-info-overlay{
  opacity: 1;
  visibility: visible;
}
.header-info-close {
  width: 40px;
  height: 40px;
  margin: 0 0 20px auto;
  position: relative;
  cursor: pointer;
  transition:all 0.4s;
}
.header-info-close:hover{
  transform:scale(0.9);
}
.header-info-close:before, .header-info-close:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 36px;
  height: 1.5px;
  background: var(--dark);
  border-radius: 5px;
  transform: rotate(45deg);
  margin: auto;
}
.header-info-close:after {
  transform: rotate(-45deg);
}
.header-info h3 {
  margin: 0 0 25px;
  font-size: 26px;
}
.header-info h3:after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background: var(--primary);
  border-radius: 5px;
  margin-top: 12px;
}
.header-info ul.social-info {
  margin-top: 50px;
}
.header-info ul.footer-info a {
  color: var(--dark);
}
.header-info ul.footer-info a:hover {
  color: var(--primary);
}
ul.header-sidebar-info {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.header-sidebar-info h5 {
  margin: 0 0 4px;
  font-size: 13px;
}
ul.header-sidebar-info li {
  margin-bottom: 20px;
}
ul.header-sidebar-info li:last-child {
  margin-bottom: 0;
}
ul.social-info {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}
ul.social-info li {
  margin: 0 10px 10px 0;
}
ul.social-info li:last-child {
  margin-right:0;
}
ul.social-info li a {
  width: 38px;
  height: 38px;
  display: flex;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 8px;
  align-items: center;
  justify-content: center;
  color: #555;
  background: #fff;
}
ul.social-info li a svg {
  display: block;
  max-height: 100%;
}
ul.social-info li a:hover {
  color:#fff;
  border-color:var(--primary);
  background: var(--primary);
}
.scrollToTop {
  position: fixed;
  right: 0;
  bottom: -100px;
  opacity: 0;
  width: 36px;
  height: 36px;
  background: var(--primary);
  color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 90px 30px;
  transition: all 0.5s;
  z-index: 9;
  padding: 12px;
}
.scrollToTop:hover{
  background: var(--dark);
}
.sticky .scrollToTop {
  bottom:0;
  opacity: 1;
}
.header-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.header-search {
  margin-right: 40px;
}
.header-search-field-wrap {
  position: relative;
}
.header-search-field input {
  width: 100%;
  border-radius: 50px;
  border: 1px solid transparent;
  padding: 0 75px 0 25px;
  height: 44px;
  background: #F3F1F1;
  font-size: 15px;
  font-weight: 500;
}
.header-search-field {
  width: 300px;
}
.header-search-submit {
  position: absolute;
  right: 8px;
  top: -1px;
  width: 44px;
  height: 44px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #9A9A9A;
  transition:all 0.5s;
  cursor: pointer;
}
.header-search-submit:hover {
  color: var(--dark);
}
.min-cart {
  margin-right: 35px;
}
.min-cart-toggle {
  color: var(--dark);
  font-weight: 500;
  line-height: 38px;
  display: inline-flex;
  align-items: center;
  position: relative;
}
.min-cart-toggle:hover{
  color: var(--primary);
}
.min-cart-toggle .icon {
  width: 30px;
}
.min-cart-toggle  .cart-budge {
  min-width: 16px;
  text-align: center;
  background: var(--primary);
  color: #fff;
  line-height: 16px;
  border-radius: 50%;
  font-size: 10px;
  font-weight: normal;
  position: absolute;
  right: -2px;
  top: 2px;
}
header .navbar {
  padding: 22px 0;
  transition:all 0.5s;
}
.banner-box {
  position: relative;
  filter: blur(7px);
  transition: all 0.5s;
}
.active .banner-box {
  filter: blur(0);
}
.main-slider .item {
  border-radius: 30px;
  overflow: hidden;
}
.banner-box .banner-text {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: url("/caption-bg.jpg") no-repeat center center;
  background-size: contain;
  background-color: var(--primary);
  text-align: center;
  width: 36%;
  color: #fff;
  padding: 40px 60px 90px;
  z-index: 1;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  align-items: center;
}
.banner-box .banner-text:before {
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 3px solid #fff;
  content: "";
  display: block;
  margin: 8px;
  border-radius: 24px;
}
.banner-box .banner-img {
  border-radius: 30px;
  overflow: hidden;
  height: 470px;
}
.banner-box .banner-img img{
  width:100%;
  height:100%;
  object-fit: cover;
}
.banner-logo {
  width: 80px;
  margin: 0 0 20px;
}
.banner-text h2 {
  font-size: 32px;
  margin: 0 0 15px;
}
.banner-text h5 {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 4px;
  font-weight: normal;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 28px;
  margin: 0;
}
.banner-text .btn-set {
  margin-top: 8px;
}
.main-slider .owl-dots {
  width: 36%;
  position: absolute;
  left: 0;
  bottom: 70px;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-slider .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  background: #fff;
  margin: 0 3px;
  border-radius: 50%;
  transition: all 0.5s;
  opacity: 0.2;
}
.main-slider .owl-dots .owl-dot:hover,
.main-slider .owl-dots .owl-dot.active {
  opacity: 1;
}




.btn-set .btn + .btn {
  margin-left: 12px;
}
.btn-set {
  margin-top: 30px;
}
html .btn {
  padding: 0 35px;
  line-height: 42px;
  font-size: 14px;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
  border: 0;
}
html .btn:hover {
  box-shadow:0px 4px 4px rgba(0, 0, 0, 0.15);
}
html .btn.btn-primary {
  color: #fff;
  background-color: var(--primary);
}
html .btn.btn-primary:hover {
  color: #fff;
  background-color: var(--dark);
}
html .btn.btn-dark {
  color: #fff;
  background-color: var(--dark);
}
html .btn.btn-dark:hover {
  color: #fff;
  background-color: var(--primary);
}
html .btn.btn-light {
  color: var(--dark);
  background-color: #fff;
}
html .btn.btn-light:hover {
  color: #fff;
  background-color: var(--dark);
}
html .btn.btn-sm {
  font-size: 13px;
  padding: 0 15px;
  line-height: 34px;
}
html .btn.btn-lg {
  font-size: 18px;
  line-height: 50px;
  padding: 0 30px;
}
html .btn.btn-radiusless {
  border-radius: 0;
}
html .btn.btn-rounded {
  border-radius: 50px;
}
html .btn[class*="btn-outline-"] {
  box-shadow:0 3px 5px 0 rgba(0, 0, 0, 0);
}
html .btn[class*="btn-outline-"]:hover {
  box-shadow:0 3px 5px 0 rgba(0, 0, 0, 0.15);
}
.btn.btn-link {
  color: var(--primary);
  box-shadow:0 0 0 0 rgba(0, 0, 0, 0);
}
.btn.btn-white {
  background: #fff;
  color: var(--dark);
}
.btn.btn-white:hover {
  background: var(--dark);
  color: #fff;
}
html .btn.btn-icon {
  padding: 0;
  width: 35px;
  line-height: 35px;
  height: 35px;
  text-align: center;
}
html .btn.btn-icon.btn-sm {
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0;
}
html .btn.btn-icon.btn-lg {
  width: 48px;
  height: 48px;
  line-height: 48px;
  padding: 0;
}
html .btn-outline-light {
  color: #212529;
}
.sub-title {
  font-size: 28px;
  margin: 0 0 18px;
  line-height:130%;
}
html .owl-carousel .owl-item img {
  width: auto;
}
.offer-box {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 16px;
  z-index: 1;
  background: url("/offer-banner-bg.png") no-repeat center center;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
  margin: 0 0px 5px;
  min-height:150px;
}
.offer-box .img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  max-width:60%;
  transition: all 0.5s;
}
.offer-box:hover .img {
  transform:scale(1.1);
}
.offer-box h4 {
  color: transparent;
  font-style: italic;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  font-size: 22px;
  font-weight: 900;
  text-shadow: 0 2px 0 rgb(255 255 255 / 10%);
  margin: 0 0 8px;
}
.offer-box h3 {
  color: #fff;
  font-size: 18px;
  margin: 0;
}
.offer-box .more-link {
  margin-top: auto;
}
.offer-box .more-link a {
  width: 25px;
  height: 25px;
  color: inherit;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}
.offer-box .more-link a:hover {
  transform:scale(1.2);
}
html .owl-carousel .owl-nav button[class*="owl-"] {
  width: 36px;
  height: 36px;
  background: #fff;
  display: inline-block;
  vertical-align: top;
  border: 1px solid #E0E0E0;
  font-size: 0;
  border-radius: 50%;
  padding: 0;
  color:#E0E0E0;
  margin: 0 0 0 8px;
  transition:all 0.5s;
  position: relative;
}
html .owl-carousel .owl-nav button[class*="owl-"]:first-child {
  margin-left: 0;
}
html .owl-carousel .owl-nav button[class*="owl-"]:hover {
  border-color:var(--primary);
  color:var(--primary);
}
html .owl-carousel .owl-nav button[class*="owl-"]:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-bottom: 2px solid;
  margin: auto;
  height: 0;
  width: 16px;
}
html .owl-carousel .owl-nav button[class*="owl-"]:after {
  content: "";
  display: block;
  position: absolute;
  left: -4px;
  right: 0;
  top: 0px;
  bottom: 0;
  margin: auto;
  width: 9px;
  height: 9px;
  border-top: 2px solid;
  border-left: 2px solid;
  transform: rotate(-45deg);
}
html .owl-carousel .owl-nav button[class*="owl-"].owl-next {
  transform: rotate(180deg);
}
.title-nav .owl-nav {
  position: absolute;
  right: 0;
  top:-55px;
}
.category-box {
  position: relative;
  background: #EFF6EC;
  text-align: center;
  border-radius: 18px;
  margin-bottom: 20px;
  padding: 20px;
  min-height: 150px;
  transition:all 0.5s;
}
.category-box:hover {
 color:#fff;
 background:var(--primary);
 box-shadow:0px 4px 8px rgba(0, 0, 0, 0.13);
}
.category-box .icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px;
  transition:all 0.5s;
}
.category-box .icon img{
  max-height:100%;
}
.category-box:hover .icon {
  filter:brightness(0) invert(1);
}
.category-box h3 {
  font-size: 16px;
  margin: 0;
}
.category-box .more-link {
  position: absolute;
  left: 0;
  right: 0;
  bottom:-13px;
}
.category-box .more-link a {
  background: var(--primary);
  border: 1px solid var(--primary);
  color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 5px;
}
.category-box:hover .more-link a{
  background: #fff;
  color: var(--primary);
}
.product-box {
  background: #fff;
  border: 2px dashed rgba(105, 189, 68,0.3);
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0px 10px 10px rgb(0 0 0 / 6%);
  margin: 0 3px 20px;
  transition:all 0.5s;
}
.product-box:hover{
  border-color:var(--primary);
}
.product-box .text {
  border-radius: 17px;
  background: #F7F6F2;
  padding: 18px 15px;
  position: relative;
  margin:-1px;
}
.product-box  h3 {
  font-size: 16px;
  margin: 0 0 4px;
}
.product-box h3 a {
  color:var(--dark);
}
.product-box h3 a:hover {
  color:var(--primary);
}
.product-box .price {
  color: var(--primary);
  font-size: 14px;
  font-weight: 500;
  margin-bottom:5px;
}
.product-box .price del {
  color: #BEBEBE;
  margin-left: 3px;
}
.reting-wrap {
  width: 76px;
  height: 13px;
  position: relative;
  background: url("/star.svg") no-repeat 0 0;
  background-size: 76px auto;
}
.reting-wrap span {
  display: block;
  height: 100%;
  background: url("/star.svg") no-repeat 0 -16px;
  background-size: 76px auto;
}
.product-box .text .more-link {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 15px;
}
.product-box .more-link a {
  background: var(--primary);
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
}
.product-box .more-link a:hover{
  background: var(--dark);
  color: #fff;
  transform:scale(1.1);
}
.product-box .img {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  border-radius: 17px;
}
.product-box .img > a {
  height: 100%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-box .img > a > img,
.product-box .img > img {
  max-width: 80%;
  max-height: 80%;
  transition:all 0.5s;
}
.product-box:hover .img > a > img,
.product-box:hover .img > img {
  transform:scale(1.1);
}
.product-box .img .offer-label {
  background: var(--primary);
  position: absolute;
  right: 2px;
  top: 0;
  margin: 8px;
  color: #fff;
  border-radius: 50px;
  padding: 0px 12px;
  font-size: 11px;
  line-height: 20px;
}
.product-box .img .product-whishlist {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 10px;
}
.product-box .product-whishlist a {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E3F3DB;
  border-radius: 50%;
  padding: 7px;
}
.product-box .product-whishlist a:hover {
  background: var(--primary);
}
.product-box .product-whishlist a img {
  transition: all 0.4s;
}
.product-box .product-whishlist a:hover img {
  filter:brightness(0) invert(1);
}
.sub-title-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 20px;
  justify-content: space-between;
}
.sub-title-wrap .sub-title {
  margin-bottom: 0;
}
.sub-title-wrap.sub-title-with-nav {
  padding-right: 95px;
}
.sub-title-wrap .title-btn {
  color: #fff;
  background: var(--primary);
  border-radius: 50px;
  padding: 5px 20px;
  line-height: 24px;
  font-size: 12px;
  display: inline-flex;
  align-items: center;
}
.sub-title-wrap .title-btn:hover{
  color:#fff;
  background: var(--dark);
}
.sub-title-wrap .title-btn svg {
  max-height: 11px;
  margin-left: 7px;
}
.section-can-top {
  position: absolute;
  left: 0;
  right: 0;
  top: -1px;
}
.section-can-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
}
.testimonial-title {
  color: #fff;
  text-align: center;
  max-width: 660px;
  margin: 0 auto 40px;
  font-size: 18px;
}
.testimonial-title h2 {
  font-size: 40px;
  margin: 0 0 15px;
}
.testimonial-carousel-wrap {
  max-width: 600px;
  background: #fff;
  text-align: center;
  margin: 0 auto 110px;
  padding: 20px 70px 40px;
  border-radius: 18px;
  box-shadow: 0px 18px 52.8537px rgba(0, 0, 0, 0.1);
  position: relative;
}
.testimonial-carousel-wrap:before {
  background: #fff;
  border-radius: 18px;
  box-shadow: 0px 18px 52.8537px rgba(0, 0, 0, 0.1);
  content: "";
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px 30px -23px;
  z-index: -1;
}
.testimonial-carousel-wrap:after {
  background: #fff;
  border-radius: 18px;
  box-shadow: 0px 18px 52.8537px rgba(0, 0, 0, 0.1);
  content: "";
  display: block;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px 60px -42px;
  z-index: -2;
}
.testimonial-box {
  padding-top: 48px;
  position: relative;
  z-index: 1;
  background: url("/testi-icon.svg") no-repeat top center;
  background-size: 120px auto;
}
.testimonial-box p {
  font-size: 16px;
  font-style: italic;
}
.testi-user {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  text-align:left;
}
.testi-user .inner {
  padding-left: 70px;
  position: relative;
  min-height: 58px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.testi-user .inner .img {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}
.testi-user .inner .img img{
  width:100% !important;
  height:100%;
  object-fit: cover;
}
.testi-user h4 {
  font-size: 18px;
  margin: 0 0 5px;
}
.testi-user h5 {
  font-weight: normal;
  margin: 0;
  font-size: 18px;
  color: #8A8A8A;
}
.testimonial-carousel-wrap .owl-nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -160px;
}
.testimonial-carousel-wrap .owl-carousel .owl-nav button[class*="owl-"] {
  border: 0;
  color: #fff;
  border-radius: 0;
  background: transparent;
  width: 70px;
  height: 40px;
  opacity: 0.4;
}
.testimonial-carousel-wrap .owl-carousel .owl-nav button[class*="owl-"]:hover{
  opacity: 1;
  color:#fff;
}
.testimonial-carousel-wrap .owl-carousel .owl-nav button[class*="owl-"]:before {
  width: 44px;
  border-width: 3px;
}
.testimonial-carousel-wrap .owl-carousel .owl-nav button[class*="owl-"]::after {
  left: -27px;
  width: 17px;
  height: 17px;
  border-width: 3px;
}
.shape-1 {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 250px;
}
.shape-2 {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 250px;
}
.dot-shape {
  background: url("/dot-shape.svg") repeat 0 0;
  background-size: 36px auto;
  width: 150px;
  height: 290px;
  position: absolute;
  left: 70px;
  bottom: 0;
  opacity: 0.2;
}
.dot-shape.dot-shape-2 {
  top: 18%;
  left: 68%;
  transform: rotate(-35deg);
}
.certificat-box {
  height: 95px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.02);
  border-radius: 11px;
  border: 1px solid #E3F3DB;
  background: #fff;
  margin-bottom: 15px;
}
.certificat-box img{
  max-height:100%;
  display:block;
  transition:all 0.5s;
}
.certificat-box:hover img{
  transform:scale(1.1);
}
footer {
  background: #fff;
}
.footer-shape {
  margin-bottom: -2px;
}
.footer-top {
  margin-top: -170px;
}
.footer-middle {
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-bottom {
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #ddd;
}
.footer-logo{
  margin-bottom:20px;
}
.footer-logo a {
  display: block;
  max-width: 270px;
  margin: 0 auto;
}
.footer-text {
  max-width: 46%;
  padding: 0 3%;
  text-align: center;
}
.footer-middle h3 {
  font-size: 18px;
  position: relative;
  margin: 0 0 12px;
  text-transform: uppercase;
}
.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.footer-list > li + li {
  margin-top: 5px;
}
.footer-list > li > a {
  color: var(--dark);
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
  position: relative;
}
.footer-list > li > a:hover{
  color:var(--primary);
}
.footer-list > li > a:before {
  content: "";
  display: block;
  position: absolute;
  left: 2px;
  top: 6px;
  width: 9px;
  height: 9px;
  background: var(--primary);
  border-radius: 2px;
  transform: rotate(45deg);
}
.footer-list > li > a:hover:before {
  transform: rotate(135deg);
  transition:all 0.5s;
}
.view-all-foot-nav {
  font-size: 13px;
  margin-top: 8px;
  font-weight: 500;
}
.view-all-foot-nav a{
  text-decoration: underline;
}
.view-all-foot-nav a:hover{
  text-decoration: underline;
}
ul.footer-info {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.footer-info li {
  min-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-left: 42px;
  font-size: 14px;
}
ul.footer-info li + li{
  margin-top:15px;
}
ul.footer-info li a{
  color:var(--dark);
}
ul.footer-info li a:hover{
  color:var(--primary);
}
ul.footer-info li .icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background: var(--primary);
  color: #fff;
  border-radius: 40px 10px 40px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
ul.footer-social-info {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
ul.footer-social-info a {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark);
}
ul.footer-social-info a:hover{
  color:var(--primary)
}
ul.footer-social-info a svg{
  max-height:100%;
  fill:currentColor;
}
ul.footer-social-info a svg *{
  fill:currentColor;
}
ul.footer-social-info li {
  margin-right:10px;
  margin-bottom:8px;
}
ul.footer-social-info li:last-child{
  margin-right:0;
}
.login-wrap {
  display: flex;
  position:relative;
  z-index: 1;
  min-height:100vh;
}
.login-wrap .login-info-cover {
  width: 38%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 38%;
}
.login-bg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: -1;
  background-position: center center;
  background-size: cover;
}
.login-bg:before {
  content: "";
  background: #67B744;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.7;
}
.login-info-inner {
  max-width: 100%;
}
.login-info {
  color: #fff;
  text-align: center;
  margin-top: auto;
}
.login-wrap .login-body {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 62%;
  max-width: 62%;
  border-radius: 50px 0 0 50px;
  padding: 50px;
  min-height: 100%;
}
.login-inner {
  width: 400px;
  max-width: 100%;
  margin-top:auto;
}
.product-box.offer-product-box .img {
  height: 110px;
}
.product-box.offer-product-box .text {
  padding: 10px;
}
.product-box.offer-product-box h3 {
  font-size: 13px;
  min-height: 30px;
  margin-bottom: 10px;
}
.offer-product-box .reting-wrap {
  background-size: 55px auto;
  width: 55px;
  height: 10px;
}
.offer-product-box .reting-wrap span {
  background-size: 55px auto;
  background-position: 0px -12px;
}
.product-box.offer-product-box .more-link {
  margin: 7px;
}
.product-box.offer-product-box .more-link a {
  width: 24px;
  height: 24px;
}
.login-offer-carousel.owl-carousel .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-offer-carousel.owl-carousel .owl-dots .owl-dot {
  width: 8px;
  height: 8px;
  background: #fff;
  margin: 0 4px;
  border-radius: 50%;
  opacity: 0.5;
}
.login-offer-carousel.owl-carousel .owl-dots .owl-dot:hover,
.login-offer-carousel.owl-carousel .owl-dots .owl-dot.active{
  opacity:1;
}
.login-info-inner {
  max-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-info-inner  .login-offer-carousel {
  padding-top: 30px;
  margin-top: auto;
}
.login-logo {
  margin-bottom: 30px;
}
.login-info h2 {
  font-size: 32px;
  margin: 0 0 20px;
}
.login-info h2:after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background: #fff;
  margin: 17px auto 0;
  border-radius: 5px;
}
.login-info h5 {
  font-weight: normal;
  margin: 0 0 30px;
  font-size: 18px;
}

.login-inner h2 {
  font-size: 42px;
  margin: 0 0 30px;
  color: var(--primary);
  text-align: center;
}
.login-inner h2:after {
  content: "";
  display: block;
  width: 45px;
  height: 4px;
  background: var(--primary);
  margin: 22px auto 0;
  border-radius: 5px;
}
ul.login-with-social {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 35px;
  justify-content: center;
}
ul.login-with-social li {
  margin: 0 7px;
}
ul.login-with-social li a {
  display: flex;
  align-items: center;
  width: 42px;
  height: 42px;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 10px 8px;
  color: var(--dark);
}
ul.login-with-social li a:hover{
  color:#fff;
  background: var(--primary);
  border-color:var(--primary);
}
ul.login-with-social li a svg{
  max-height:100%;
}
.login-sub-label {
  text-align: center;
  color: #555;
  margin: 0 0 20px;
}
.form-field-latest {
  margin: 0 0 18px;
  position: relative;
}
.form-field-submit {
  text-align: center;
  margin-top: 25px;
}
.form-field-submit .btn {
  min-width: 150px;
}
.form-field-latest .form-control {
  height: 46px;
  padding: 0 20px;
  font-weight: 500;
  font-size: 16px;
  border: 2px solid #ededed;
  border-radius: 6px;
  box-shadow: 0 0 0 0 transparent !important;
}
.form-field-latest .form-control:focus{
  border-color:var(--primary);
}
.form-field-latest label {
  position: absolute;
  left: 5px;
  top: 0;
  font-weight: 500;
  font-size: 16px;
  margin: 10px;
  line-height: 28px;
  color: #888;
  padding: 0 6px;
  transition: all 0.3s;
  background: #fff;
  pointer-events: none;
}
.form-field-latest label em{
  font-style: normal;
  color:red;
}
.form-field-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}
.login-bottom-links {
  margin-top: auto;
  padding-top:20px;
  margin-bottom: 0;
}
.login-bottom-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.login-bottom-links ul a {
  color: #646464;
}
.login-bottom-links ul a:hover {
  color: var(--primary);
}
.login-bottom-links ul li {
  position: relative;
  margin-right: 50px;
}
.login-bottom-links ul li:last-child {
  margin-right: 0;
}
.login-bottom-links ul li:last-child:before {
  display:none;
}
.login-bottom-links ul li:before {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  position: absolute;
  right: -32px;
  top: 7px;
  background: #C4C4C4;
}
.custom-checkbox label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-left: 28px;
}
.custom-checkbox label input[type="checkbox"] {
  display: none;
}
.custom-checkbox label span:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
  width: 20px;
  height: 20px;
  border: 2px solid #efefef;
  border-radius: 3px;
  transition:all 0.4s;
}
.custom-checkbox label input:checked ~ span:before {
  border-color:var(--primary);
  background: var(--primary);
}
.custom-checkbox label span:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
  width: 10px;
  height: 6px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  margin: 5px;
  color:#fff;
}
.form-field-latest.input-has-value label {
  top: -19px;
  color: var(--primary);
  font-size: 12px;
  line-height: 20px;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.product-list .item {
  width: 20%;
  padding: 0 10px;
  margin-bottom: 8px;
}
.inner-banner{
  margin-bottom:25px;
}

.filter-search-field-wrap {
  position: relative;
  width: 300px;
}
.filter-search-field input {
  width: 100%;
  border-radius: 50px;
  border: 1px solid #E7E7E7;
  padding: 0 75px 0 25px;
  height: 44px;
  background: #fff;
  font-size: 15px;
  font-weight: 500;
}
.filter-search-submit {
  position: absolute;
  right: 8px;
  top: -1px;
  width: 44px;
  height: 44px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #9A9A9A;
  transition:all 0.5s;
  cursor: pointer;
}
.filter-search-submit:hover {
  color: var(--dark);
}
.product-filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 25px;
}
ul.breadcrumb-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  color: #787878;
}
ul.breadcrumb-list li{
  position:relative;
  padding-right:18px;
}
ul.breadcrumb-list li:last-child{
  padding-right:0;
}
ul.breadcrumb-list li:last-child:before{
  display: none;
}
ul.breadcrumb-list a{
  color:inherit;
}
ul.breadcrumb-list a:hover{
  color:Var(--primary);
}
ul.breadcrumb-list li:before{
  content:"/";
  display:block;
  position: absolute;
  right:7px;
  top:0;
}
ul.breadcrumb-list li:last-child a {
  pointer-events: none;
}
.product-filter-right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.product-filter-right .item + .item {
  margin-left:15px;
}
.filter-short select {
  display: block;
  border: 1px solid #E7E7E7;
  border-radius: 50px;
  height: 44px;
  padding: 0 14px;
  font-size: 14px;
  font-weight: 500;
  width: 160px;
}
.navbar h2 {
  font-size: 28px;
  margin: 0;
}
.pagination-wrap {
  margin-top: 30px;
}
.pagination-wrap ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
}
.pagination-wrap ul li{
  margin:0 3px;
}
.pagination-wrap ul a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #E3F3DB;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--dark);
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
}
.pagination-wrap ul a:hover,
.pagination-wrap ul .active a{
  color:#fff;
  background: var(--primary);
}
.pagination-wrap ul li svg {
  max-width: 7px;
}
.product-details {
  position: relative;
  padding: 80px 45px;
}
.details-gallery-wrap{
  position: relative;
  padding-right:15px;
}
.details-gallery-carousel .owl-stage-outer{
  background: #fff;
  border-radius: 35px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
.details-gallery-wrap:before {
  content: "";
  display: block;
  position: absolute;
  left: -50px;
  top: -80px;
  bottom: -80px;
  background: #E3F3DB;
  width: 65%;
  border-radius: 0 50px 50px 0;
}
.details-gallery-carousel .img {
  display: flex;
  align-items: center;
  height: 460px;
  justify-content: center;
}
.details-gallery-carousel .img a {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.details-gallery-carousel .img img{
  max-width:90%;
  max-height:90%;
  transition:all 0.4s;
}
.details-gallery-carousel .img:hover img{
  transform:scale(1.1);
}
.details-gallery-carousel  .owl-nav {
  position: absolute;
  top: 100%;
  right: 0;
  margin: 20px 0;
  width: 42%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.details-gallery-carousel.details-gallery-carousel .owl-nav  button[class*="owl-"] {
  border: 0;
  background: transparent;
  width: 55px;
  border-radius: 0;
  height: 35px;
  padding: 0;
}
.details-gallery-carousel.details-gallery-carousel .owl-nav button[class*="owl-"]::before {
  width: 34px;
  border-width: 3px;
}
.details-gallery-carousel.details-gallery-carousel .owl-nav button[class*="owl-"]::after {
  width: 18px;
  height: 18px;
  border-width: 3px;
  left: -15px;
}
.price-offer span {
  display: inline-block;
  vertical-align: top;
  background: #E3F3DB;
  padding: 0 15px;
  border-radius: 50px;
  color: var(--primary);
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
}
.summery .price-offer {
  margin-bottom: 12px;
}
.summery  h2 {
  font-size: 28px;
  margin: 0 0 10px;
}
.price-rating-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 25px;
}
.price-rating-wrap .price {
  margin-right: 25px;
}
.summery .price {
  font-size: 20px;
  font-weight: 500;
  color: var(--primary);
}
.summery .price del {
  color: #BEBEBE;
}
.summery  .reting-wrap {
  background-size: 90px auto;
  width: 90px;
  height: 16px;
}
.summery  .reting-wrap span{
  background-size: 90px auto;
}
.summery  .reting-wrap span {
  background-size: 90px auto;
  background-position: 0 -20px;
}
.summery {
  font-size: 15px;
}
.summery .variation-point {
  list-style: none;
  margin: 20px 0 25px;
  padding: 0;
  font-size: 14px;
}
.summery .variation-point  li {
  line-height: 20px;
  position: relative;
  padding-left: 28px;
}
.summery .variation-point  li:before{
  width:20px;
  height:20px;
  content:"";
  display:block;
  position:absolute;
  left:0;
  top:0;
  background:url("/check-point.svg") no-repeat center center;
  background-size:100% auto;
}
.summery .variation-point  li + li{
  margin-top:6px;
}
.qty-submit-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 25px;
}
.qty-submit-wrap .product-qty {
  margin-right: 20px;
}
.product-qty-field {
  position: relative;
  width: 120px;
}
.product-qty-field >  input {
  display: block;
  width: 100%;
  height: 42px;
  border-radius: 50px;
  text-align: center;
  padding: 0 40px;
  border: 1px solid #E7E7E7;
  font-weight: 500;
}
.product-qty-field .qty-action {
  position: absolute;
  left: 0;
  top: 0;
  margin: 7px;
  background: #F7F6F2;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0 7px;
  transition:all 0.5s;
  color:var(--dark);
  cursor: pointer;
  border:0;
}
.product-qty-field .qty-action:hover {
  background:var(--dark);
  color:#fff;
}
.product-qty-field .qty-action.qty-action-plus {
  left: auto;
  right: 0;
}
.addtocart-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 50px;
  line-height: 40px;
  background: var(--primary);
  padding: 0 25px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  transition:all 0.5s;
}
.addtocart-btn img {
  max-width: 22px;
  margin-right: 6px;
}
.addtocart-btn:hover{
  color:#fff;
  background: var(--dark);
}
.product-meta {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  color: #555;
  border-top: 1px solid #EAEAEA;
  padding-top: 15px;
}
.product-meta .item {
  margin-right: 20px;
}
.product-meta .item:last-child {
  margin-right: 0;
}
.details-tabs .nav-tabs {
  border: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}
.details-tabs .tab-content {
  font-size: 14px;
  background: #fff;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);
}
.details-tabs .nav-tabs  .nav-item {
  border: 0;
  margin: 0 10px 0;
}
.details-tabs .nav-tabs .nav-item .nav-link {
  display: inline-block;
  vertical-align: top;
  border: 0;
  background: transparent;
  position: relative;
  padding: 10px 15px;
  line-height: 26px;
  color: var(--dark);
  font-weight: 500;
  transition: all 0.5s;
  font-size: 17px;
}
.details-tabs .nav-tabs .nav-item .nav-link:hover,
.details-tabs .nav-tabs .nav-item .nav-link.active{
  color:var(--primary);
}
.details-tabs .nav-tabs .nav-item .nav-link:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 2px;
  background: var(--primary);
  transition: all 0.5s;
  width:0;
}
.details-tabs .nav-tabs .nav-item .nav-link.active:before{
  width:100%;
}
.cart-details {
  position: relative;
  padding: 50px 0;
  z-index: 1;
}
.cart-details:before {
  content: "";
  display: block;
  position: absolute;
  left: -50px;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: 22%;
  border-radius: 0 40px 40px 0;
  background: #E3F3DB;
}
.cart-box {
  background: #fff;
  border-radius: 24px;
  padding: 30px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}
.cart-box  h2 {
  font-size: 27px;
  text-align: center;
  margin: 0 0 20px;
}
.table.cart-main-table thead tr th {
  border-bottom: 1px solid #E4E4E4;
  box-shadow: 0 0 0 transparent;
  background: transparent;
  padding: 5px 15px 10px;
  font-size: 15px;
  font-weight: 500;
}
.table.cart-main-table tbody {
  border-top: 0;
}
.table.cart-main-table tbody tr td {
  border: 0;
  padding: 15px 15px;
  font-size: 15px;
  vertical-align: middle;
}
.table.cart-main-table tbody tr{
  border-bottom: 1px solid #E4E4E4;
}
.table.cart-main-table tbody tr:last-child{
  border-bottom:0;
}
.checkout-btn-wrap {
  margin-top: 25px;
}
.table.cart-main-table .cart-product-name {
  display: flex;
  align-items: center;
}
.table.cart-main-table .cart-product-name .img {
  min-width: 80px;
  margin-right: 18px;
  width: 80px;
}
.table.cart-main-table .cart-product-name h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}
.table.cart-main-table .cart-product-name h3 a {
  color:var(--dark);
}
.table.cart-main-table .cart-product-name h3 a:hover {
  color:var(--primary);
}
.cart-main-table .product-qty-field > input {
  border: 0;
}
.cart-main-table .product-qty-field > input {
  border: 0;
  height: 34px;
  padding: 0 38px;
}
.cart-main-table .product-qty-field .qty-action {
  width: 26px;
  height: 26px;
  margin: 5px;
}
.cart-main-table .product-qty-field {
  width: 100px;
}

.table.cart-total-table tbody {
  border: 0;
  font-size: 16px;
}
.table.cart-total-table tbody tr{
  border-bottom:0;
}
.table.cart-total-table tbody tr td {
  border: 0;
  padding: 8px 5px;
  vertical-align: middle;
}
.table.cart-total-table tbody tr.total-tr {
  font-weight: 600;
  font-size:18px;
}
.cart-total-wrap{
  position:sticky;
  top:20px;
}
